{{>partial_header}}
package main

import (
    "flag"
    "github.com/golang/glog"
	"net/http"

	{{packageName}} "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/{{sourceFolder}}"
)

func main() {
    flag.Parse()
	glog.Infof("Server started")

    var jwtKeys interface{}
    // TODO: Set your JWT keys here

{{#apiInfo}}{{#apis}}
	{{classname}}Service := {{packageName}}.New{{classname}}Service()
	{{classname}}Controller := {{packageName}}.New{{classname}}Controller({{classname}}Service)
{{/apis}}{{/apiInfo}}
	router := {{packageName}}.NewRouter(jwtKeys, {{#apiInfo}}{{#apis}}{{classname}}Controller{{^-last}}, {{/-last}}{{/apis}}{{/apiInfo}})

	glog.Fatal(http.ListenAndServe(":{{serverPort}}", router))
}
